.main__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 34px;
  font-family: "Cabinet Grotesk", sans-serif;
  max-width: 388px;
  max-height: 25px;
}

.main__content {
  margin: 40px 40px 171px;
  min-height: 735px;
}

.main__content_multi-row {
  margin-bottom: 85px;
}

.main__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding: 0;
}
